body{
background-color: #b3afaf;
}
.main{
    position: absolute;
    margin-top: 40px;
    margin-left:500px ;
    background-color: white;
    width:400px ;
    height: 600px;
    border-radius: 10px;
}
.text1{
    position: absolute;
    margin-top: 70px;
    margin-left: 120px;
    font-size: 30px;
}
#email{
    position: absolute;
    margin-top: 140px;
    margin-left: 90px;
    border: none;
    font-size: 16px;
    font-family:  'Montserrat', sans-serif;
    opacity: .7;
}
#pass{
    position: absolute;
    margin-top:210px ;
    margin-left: 90px;
    border: none;
    font-size:16px ;
    font-family: 'Montserrat', sans-serif ;
    opacity: .7;
}
#submit{
    position: absolute;
    margin-top:310px ;
    margin-left:70px ;
    text-transform: uppercase;
    font-size: 15px;
    width: 270px;
    height: 50px;
 background: linear-gradient(to right,#00e5ff,#b22adb  );
 border: none;
 border-radius:30px ;
 color: white;
 text-align: center;
 font-family: none;
}
.line{
    position: absolute;
    margin-top:170px ;
    margin-left:90px ;
    width: 260px;
    height:2px ;
    background-color: black;
    opacity: .4;
}
.line2{
    position: absolute;
    margin-top:240px ;
    margin-left:90px ;
    width: 260px;
    height:2px ;
    background-color: black;
    opacity: .4;
}
.img{
    position: absolute;
    margin-top: 213px;
    margin-left: 325px;
}
#text2{
    position: absolute;
    margin-top:550px ;
    margin-left: 70px;
    color: gray;
    font-size: 13px;
    border: none;
    font-family: none;
}
#text3{
    position: absolute;
    margin-top: 550px;
    margin-left:225px ;
    font-size: 13px;
    color:black ;
    opacity: .9;
    font-family: none;
    border: none;
}
